p{
    margin:2px;
}
.editor-project-content {
      display: flex;
}
.promo {
    padding-top: 170px;
     background-attachment: scroll;
}


.project-content-left {
    min-width: 360px;
    max-width: 620px;

    margin: 25px;
}
.project-content-right {
    min-width: 360px;
    max-width: 620px;

    margin: 25px;

}
.container{
    border: 0px;
    border-style: solid;
    border-color: black;
    overflow: hidden;
    display: flex;

    
}

.container-unconfined {
    border-left: 3px;
    border-style: solid;
    border-left-color: red;
    

}
.container-fixed-width{
    color: white;
    padding:10px;
    min-width: 120px;
    max-width: 140px;
    border-width: 0px;
    border-style: solid;
    border-color: red;
     /* 
    background-color: grey;

    padding-bottom: 100%;
    margin-bottom: -100%;
    */ 
}

.seprator{
    padding:2px;
}

.editor-project-content-3x {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-content-element {
    min-width: 50px;
    max-width: 360px;
    flex-basis: 100%
    margin: 25px;
}
