.page-header.is-fixed{position:fixed;top:0;left:0;z-index:999;margine10px;-webkit-box-shadow:0 2px 4px 0 #424242;box-shadow:0 2px 4px 0 #424242}
.editor-project-content {
      display: flex;
}


.project-content-left {
    width: 400px;
    margin-left: 25px;
}
.project-content-right {
    width: 400px;
}
